.footer {
    margin-top: 3em;
    color: #c9c9c9;
    font-size: 0.7em;
    line-height: 1.45;
}

.footer div {
    margin-top: 1em;
}

.footer a {
    color: #005a9d;
}

.source {
    margin-bottom: 3em;
}
