.footer {
    margin-top: 3em;
    color: #c9c9c9;
    font-family: sans-serif;
}

.footer .source a {
    color: #005a9d;
}

.footer .madeBy {
    margin: 2em 0;
    font-size: 70%;
}

.footer .cookies {
    font-size: 70%;
}
