.container {
    margin-bottom: 2rem;
}

.entry {
    font-size: 60%;
    line-height: 2em;
    margin-bottom: 0.2em;
    display: inline-block;
    width: 140px;
}

.entry img {
    height: 2em;
    vertical-align: middle;
    margin: 0;
    padding-right: 0.5em;
}
